* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #888DB6;
}

#slider {
    height: 400px;
    width: 600px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 128px auto;
    position: relative;
    overflow-x: hidden;
    align-items: center;
}

button {
    z-index: 2;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    color: #d3c5c5;
    outline: none;
}

#next {
    right: 0;
}

ion-icon {
    width: 96px;
    height: 96px;
}

img {
    z-index: -1;
    height: 320px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 16px 4px #484b60;
}
