* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F265F;
}

#slider {
    z-index: 10;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 400px;
    width: 600px;
    margin: 128px auto;
    position: relative;
    align-items: center;
    background-color: #5C6398;
    border: 20px solid #0B1241;
    box-shadow: 0 0 8px 2px #121638;
    overflow-x: hidden;
}

#photos {
    /*    overflow-x: hidden;*/
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 300px;
    width: 560px;
}

button {
    z-index: 2;
    background-color: transparent;
    border: none;
    position: fixed;
    cursor: pointer;
    color: #3340b1;
    outline: none;
}

#next {
    left: 569px;
}

ion-icon {
    width: 96px;
    height: 96px;
}

img {
    z-index: 1;
    width: 400px;
    margin: 0 80px;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #484b60;
}
